.checkbox {
  // Стили появятся позже
}

.checkbox__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
  color: $black;
}

.checkbox__input {
  // Стили появятся позже
}
