.checkbox {
  @include no-indents;
  box-sizing: border-box;
  padding-top: 19px;
  padding-bottom: 35px;
  padding-left: 79px;

  @media (min-width: $tablet-width) {
    width: 50%;
    padding-bottom: 43px;
    padding-left: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 21.354%;
  }
}

.checkbox:nth-child(1),
.checkbox:nth-child(2) {
  margin-right: 5.729%;
}

.checkbox:nth-child(3) {
  margin-right: 3.125%;
}

.checkbox__input {
  display: none;
}

.checkbox__input:disabled + .checkbox__label {
  cursor: default;
}

.checkbox__input:checked + .checkbox__label svg {
  fill: $light-gray-6;
}

.checkbox__input:checked + .checkbox__label:active svg {
  fill: $light-gray-8;
}

.checkbox__label {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
  color: $black;
  cursor: pointer;
}

.checkbox__label::before {
  position: absolute;
  content: "";
  width: 55px;
  height: 55px;
  top: 0;
  left: -80px;
  background-color: $light-gray-2;
  border-radius: 5px;
}

.checkbox__label:hover::before,
.checkbox__label:focus::before, {
  background-color: $light-gray-4;
}

.checkbox__label:active::before {
  background-color: $light-gray-7;
}

.checkbox__label svg {
  position: absolute;
  top: 21px;
  left: -63px;
  fill: transparent;
}
