.developed-by {
  width: 140px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  @media (min-width: $tablet-width) {
    margin: 0;
    margin-right: -7px;
  }
}

.developed-by__title {
  @include no-indents;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
}

.developed-by__link {
  &:hover .developed-by__svg,
  &:focus .developed-by__svg {
    fill: $light-blue;
  }

  &:active .developed-by__svg {
    fill: $light-gray;
  }
}
