.features {
  @include no-indents;
}

.features__item {
  list-style: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.features__item--reverse {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.features__title {
  @include no-indents;
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    margin-bottom: 10px;
    font-size: 21px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 30px;
    padding-right: 30px;
  }
}

.features__number {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.features__phrase {
  @include no-indents;
  margin-top: 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

.features__bg-wrapper {
  box-sizing: border-box;
  background-color: $light-blue;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 45px;
    padding-bottom: 45px;
    width: 33.3%;
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    min-width: 270px;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 52px;
    padding-bottom: 59px;
  }
}

.features__bg-wrapper--splay {
  padding-top: 74px;
  position: relative;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    padding-top: 45px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 52px;
  }
}

.features__bg-wrapper--splay::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 0;
  left: calc(50% - 384px);
  border-left: 384px solid transparent;
  border-top: 35px solid $white;
  border-right: 384px solid transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.features__bg-wrapper .features__title,
.features__bg-wrapper .features__number,
.features__bg-wrapper .features__phrase {
  color: $white;
}

.features__photo {
  min-height: 260px;

  @media (min-width: $tablet-width) {
    width: 66.6%;
    min-height: 256px;
  }

  @media (min-width: $desktop-width) {
    min-width: 800px;
  }
}

.features__photo--1 {
  background: url("../img/main-city-mobile@1x.jpg") no-repeat center 0;
  background-color: $main-city;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/main-city-mobile@2x.jpg") no-repeat center 0;
    background-size: 320px 260px;
    background-color: $main-city;
  }

  @media (min-width: $tablet-width) {
    background: url("../img/main-city-tablet@1x.jpg") no-repeat left 0;
    background-color: $main-city;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/main-city-tablet@2x.jpg") no-repeat left 0;
      background-size: 512px 256px;
      background-color: $main-city;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../img/main-city-desktop@1x.jpg") no-repeat 0 -70px;
    background-color: $main-city;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/main-city-desktop@2x.jpg") no-repeat 0 -70px;
      background-size: 800px 400px;
      background-color: $main-city;
    }
  }
}

.features__photo--2 {
  background: url("../img/main-bridge-mobile@1x.jpg") no-repeat center 0;
  background-color: $main-bridge;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/main-bridge-mobile@2x.jpg") no-repeat center 0;
    background-size: 320px 260px;
    background-color: $main-bridge;
  }

  @media (min-width: $tablet-width) {
    background: url("../img/main-bridge-tablet@1x.jpg") no-repeat right 0;
    background-color: $main-bridge;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/main-bridge-tablet@2x.jpg") no-repeat right 0;
      background-size: 512px 256px;
      background-color: $main-bridge;
    }
  }

  @media (min-width: $desktop-width) {
    background: url("../img/main-bridge-desktop@1x.jpg") no-repeat 0 -75px;
    background-color: $main-bridge;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/main-bridge-desktop@2x.jpg") no-repeat 0 -75px;
      background-size: 800px 400px;
      background-color: $main-bridge;
    }
  }
}
