.features {
  @include no-indents;
}

.features__item {
  list-style: none;
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
  }
}

.features__item--reverse {
  @media (min-width: $tablet-width) {
    flex-direction: row-reverse;
  }
}

.features__title {
  @include no-indents;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.features__number {
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.features__phrase {
  @include no-indents;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
}

.features__bg-wrapper {
  background-color: $light-blue;

  @media (min-width: $tablet-width) {
    padding: 45px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
}

.features__bg-wrapper .features__title,
.features__bg-wrapper .features__number,
.features__bg-wrapper .features__phrase {
  color: $white;
}

.features__photo {
  min-height: 260px;

  @media (min-width: $tablet-width) {
    min-width: 512px;
  }

  @media (min-width: $desktop-width) {
    min-width: 800px;
  }
}

.features__photo--1 {
  background: url("../img/main-city-mobile@1x.jpg") no-repeat 0 0;
}

.features__photo--2 {
  background: url("../img/main-bridge-mobile@1x.jpg") no-repeat 0 0;
}
