.form {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
  }
}

.form__wrapper {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  padding-bottom: 5px;
  border-top: 1px solid $light-gray-4;

  @media (min-width: $tablet-width) {
    padding: 0;
    margin-top: 56px;
    border-top: none;
  }
}

.form__wrapper--text {
  box-sizing: border-box;

  @media (min-width: $tablet-width) {
    padding-bottom: 0;
    width: 50%;
    border-left: 1px solid $light-gray-4;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    width: 480px;
  }
}

.form__wrapper--data {
  padding-bottom: 15px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $light-gray-4;
    padding: 0;
    margin-top: 80px;
    width: 100%;
  }
}

.form__wrapper--radios {
  box-sizing: border-box;
  padding-bottom: 0;

  @media (min-width: $tablet-width) {
    order: -1;
    width: 50%;
  }

  @media (min-width: $desktop-width) {
    margin-top: 42px;
    width: 480px;
  }
}

.form__wrapper--checkboxes {
  padding-bottom: 6px;

  @media (min-width: $tablet-width) {
    border-top: 1px solid $light-gray-4;
    padding-bottom: 0;
    margin-top: 60px;
    width: 100%;
  }
}

.form__wrapper--textarea {
  @media (min-width: $tablet-width) {
    border-top: 1px solid $light-gray-4;
    margin-top: 53px;
    width: 100%;
  }
}

.form__legend {
  @include no-indents;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 21px;
  }
}

.form__legend--text {
  @media (min-width: $tablet-width) {
    text-align: left;
    padding-left: 56px;
    margin-bottom: 60px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
  }
}

.form__legend--data {
  margin-bottom: 18px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: -13px;
    background-color: $white;
  }
}

.form__legend--radios {
  @media (min-width: $tablet-width) {
    text-align: left;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.form__legend--checkboxes {
  margin-bottom: 10px;

  @media (min-width: $tablet-width) {
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: -26px;
    background-color: $white;
  }

  @media (min-width: $desktop-width) {
    padding-left: 280px;
    padding-right: 280px;
  }
}

.form__legend--textarea {
  display: block;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: block;
    width: 400px;
    margin: 0 auto;
    margin-top: -13px;
    background-color: $white;
  }
}

.form__list {
  @include no-indents;
}

.form__list--text {
  @media (min-width: $tablet-width) {
    margin-left: 56px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 80px;
  }
}

.form__list--data {
  @media (min-width: $tablet-width) {
    padding-top: 25px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 55px;
    display: flex;
    flex-direction: row;
  }
}

.form__list--radios {
  margin-bottom: 15px;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__list--checkboxes {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 14.6%;
    margin-right: 5.2%;
    margin-top: 37px;
  }

  @media (min-width: $desktop-width) {
    flex-wrap: nowrap;
    margin-left: 0;
    margin-right: 0;

  }
}

.form__item {
  list-style: none;
  margin-bottom: 21px;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
  }
}

.form__footer {
  box-sizing: border-box;
  padding-top: 41px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 39px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 67px;
  }
}

.form__submit {
  @include no-indents;

  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: $fonts;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  color: $white;
  background-color: $light-blue;
  border: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    width: 324px;
  }

  @media (min-width: $desktop-width) {
    width: 480px;
  }
}

.form__note {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
  }
}
