.input-field {
  display: flex;
}

.input-field--inline {
  flex-direction: row;
  align-items: center;
}

.input-field--inline:last-child {
  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.input-field--inline .input-field__input {
  flex-grow: 1;
  margin-left: 15px;
  width: 0;
}

.input-field--block {
  flex-direction: column;
  margin-bottom: 12px;

  @media (min-width: $tablet-width) {
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    align-items: center;
    width: 480px;
  }
}

.input-field--block .input-field__label {
  margin-left: 22px;
  margin-bottom: 8px;

  @media (min-width: $desktop-width) {
    margin: 0;
    margin-right: 17px;
  }
}

.input-field--block .input-field__input {
  @media (min-width: $desktop-width) {
    flex-grow: 1;
  }
}

.input-field--tel {
  @media (min-width: $desktop-width) {
    width: 400px;
    margin-right: 80px;
  }
}

.input-field__label {
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $light-black;
}

.input-field__hide {
  @media (min-width: $desktop-width) {
    display: none;
  }
}

.input-field__input {
  height: 58px;
  box-sizing: border-box;
  font-family: $fonts;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black;
  background-color: $light-gray-2;
  border: none;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 20px;

  &:hover {
    background-color: $light-gray-4;
  }

  &:focus {
    background-color: $white;
    box-shadow:
      inset 4px 4px 0 0 $light-gray-4,
      inset -4px -4px 0 0 $light-gray-4;
  }
}

.input-field__input::-webkit-input-placeholder {
  font-family: $fonts;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black;
}

.input-field__textarea {
  resize: none;
  font-family: $fonts;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black;
  background-color: $light-gray-2;
  border: none;
  box-sizing: border-box;
  margin-top: 17px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 15px;
  min-height: 160px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-top: 57px;
  }
}

.input-field__textarea::-webkit-input-placeholder {
  font-family: $fonts;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: $black;
}
