.map {
  position: relative;
  min-height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat center 0;

  @media (min-width: $tablet-width) {
    background: url("http://placehold.it/1200x350/") no-repeat center 0;
  }

  @media (min-width: $desktop-width) {
    background: url("http://placehold.it/1200x350/") no-repeat center 0;
  }
}

.map__toggle {
  @include no-indents;
  position: absolute;
  width: 27px;
  height: 27px;
  top: calc(50% - 13.5px);
  left: calc(50% - 13.5px);
  cursor: pointer;
  background-color: $light-blue;
  border: 5px solid $white;
  border-radius: 50%;
}
