.map {
  position: relative;
  min-height: 350px;
  background: url("../img/bg-map-tablet@1x.jpg") no-repeat center 0;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background: url("../img/bg-map-tablet@2x.jpg") no-repeat center 0;
    background-size: 768px 350px;
  }

  @media (min-width: $tablet-width) {
    background: url("../img/bg-map-desktop@1x.jpg") no-repeat center 0;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background: url("../img/bg-map-desktop@2x.jpg") no-repeat center 0;
      background-size: 1200px 350px;
    }
  }
}

.map__toggle {
  @include no-indents;
  position: absolute;
  width: 27px;
  height: 27px;
  top: calc(50% - 13.5px);
  left: calc(50% - 13.5px);
  cursor: pointer;
  background-color: $light-blue;
  border: 5px solid $white;
  border-radius: 50%;
}

.map__iframe {
  position: relative;
}
