.map {
  position: relative;
  min-height: 350px;
  background: url("../img/bg-map-mobile@1x.jpg") no-repeat;

  @media (min-width: $tablet-width) {
    background: url("http://placehold.it/768x350/") no-repeat;
  }

  @media (min-width: $desktop-width) {
    background: url("http://placehold.it/1200x350/") no-repeat;
  }
}

.map__toggle {
  @include no-indents;
  position: absolute;
  width: 27px;
  height: 27px;
  top: 161px;
  left: 145px;
  cursor: pointer;
  background-color: $light-blue;
  border: 5px solid $white;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 164px;
    left: 370px;
  }

  @media (min-width: $desktop-width) {
    top: 164px;
    left: 584px;
  }
}
