.page-header {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $tablet-width) {
    display: block;
    width: $tablet-width;
    position: relative;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-header__wrapper {
  position: relative;
  min-height: 55px;

  @media (min-width: $tablet-width) {
    min-height: 0;
  }
}

.page-header__link {
  position: absolute;
  top: 0;
  left: calc(50% - 51px);
  z-index: 10;

  @media (min-width: $tablet-width) {
    left: 333px;
  }

  @media (min-width: $desktop-width) {
    left: 505px;
  }
}
