.page-main {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: $tablet-width;
  }

  @media (min-width: $desktop-width) {
    width: $desktop-width;
  }
}

.page-main__wrapper {
  background-color: $white;
}

.page-main__title {
  @include no-indents;
  text-align: center;
  font-size: 18px;
  line-height: 26px;
  color: $black;

  @media (min-width: $tablet-width) {
    margin-left: 160px;
    margin-right: 160px;
    font-size: 30px;
    line-height: 26px; //Значение line-height из макета меньше размера шрифта!
  }
}

.page-main__phrases {
  text-align: center;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }
}

.page-main__phrase {
  @include no-indents;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  color: $light-black;
}
