.page {
  @media (min-width: $desktop-width) {
    background-color: $light-gray-2;
  }
}

.page__wrapper {
  @media (min-width: $desktop-width) {
    width: $desktop-width;
    margin: 0 auto;
    background-color: $white;
  }
}
