.page-footer {
  width: 320px;
  margin: 0 auto;
  padding-top: 35px;
  padding-bottom: 20px;

  @media (min-width: $tablet-width) {
    width: 100%;
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 35px;
    padding-bottom: 35px;
  }
}

.page-footer__tag {
  color: $black;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
}
