.photos {
  @include no-indents;
  border-top: 1px solid $light-gray-4;

  @media (min-width: $tablet-width) {
    box-sizing: border-box;
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: $desktop-width;
  }
}

.photos__item {
  list-style: none;
  padding-top: 21px;
  padding-bottom: 18px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid $light-gray-4;
  width: auto;

  @media (min-width: $tablet-width) {
    width: 50%;
    margin: 0;
    padding: 0;
    border: none;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    width: 33.3%;
  }
}

.photos__item--big {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.photos__link {
  display: flex;
  justify-content: center;
  min-height: 280px;

  @media (min-width: $tablet-width) {
    min-height: auto;
  }
}

.photos__link--sunset {
  background-color: $sunset;
}

.photos__link--cactus {
  background-color: $cactus;
}

.photos__link--roads {
  background-color: $roads;
}

.photos__link--bridge {
  background-color: $bridge;
}

.photos__image {
  vertical-align: bottom;
  width: 100%;
  height: auto;
}

.photos__info {
  box-sizing: border-box;
  padding-top: 15px;
  width: 280px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 100%;
    margin: 0;
    padding-top: 14px;
    padding-bottom: 17px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $light-gray-2;
  }

  @media (min-width: $desktop-width) {
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.photos__title {
  @include no-indents;
  font-size: 14px;
  font-weight: 700px;
  line-height: 24px;
  color: $black;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photos__description {
  display: block;
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  text-transform: none;
  color: $light-black;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photos__like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:active {
    color: $black;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
