.photos {
  @include no-indents;
  padding-left: 20px;

  @media (min-width: $tablet-width) {
    padding-left: 60px;
    width: $tablet-width - 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    width: $desktop-width;
  }
}

.photos__item {
  list-style: none;

  @media (min-width: $desktop-width) {
    position: relative;
  }
}

.photos__item--big {
  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.photos__link {
  // Здесь появятся стили в будущем
}

.photos__image {
  // Здесь появятся стили в будущем
}

.photos__title {
  @include no-indents;
  font-size: 14px;
  font-weight: 700px;
  line-height: 24px;
  color: $black;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photos__description {
  display: block;
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  text-transform: none;
  color: $light-black;

  @media (min-width: $desktop-width) {
    color: $white;
  }
}

.photos__like-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;

  &:active {
    color: $black;
  }

  @media (min-width: $desktop-width) {
    color: $white;
  }
}
