.promo {
  min-height: 160px;
  background:
    url("../img/text-sedona.svg") no-repeat 0 0,
    url("../img/bg-back-mobile@1x.jpg") no-repeat 0 0;
}

.promo--index {
  min-height: 390px;
  background:
    url("../img/text-sedona-index.svg") no-repeat 0 0,
    url("../img/bg-back-mobile@1x.jpg") no-repeat 0 0;
}
