.promo {
  overflow: hidden;
  position: relative;
  min-height: 157px;
  background:
    url("../img/text-sedona.svg") no-repeat center 50px,
    url("../img/bg-back-mobile@1x.jpg") no-repeat center -232px;
  background-size:
    229px 39px,
    auto;
  background-color: $promo-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:
      url("../img/text-sedona.svg") no-repeat center 50px,
      url("../img/bg-back-mobile@2x.jpg") no-repeat center -232px;
    background-size:
      229px 39px,
      768px 389px;
    background-color: $promo-color;
  }

  @media (min-width: $tablet-width) {
    min-height: 291px;
    background:
      url("../img/text-sedona.svg") no-repeat center 95px,
      url("../img/bg-back-desktop@1x.jpg") no-repeat center -227px;
    background-size:
      461px 80px,
      auto;
    background-color: $promo-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      min-height: 291px;
      background:
        url("../img/text-sedona.svg") no-repeat center 95px,
        url("../img/bg-back-desktop@2x.jpg") no-repeat center -227px;
      background-size:
        461px 80px,
        1200px 518px;
      background-color: $promo-color;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 301px;
    background:
      url("../img/text-sedona.svg") no-repeat 367px 100px,
      url("../img/bg-back-desktop@1x.jpg") no-repeat 0 -217px;
    background-size:
      461px 80px,
      auto;
    background-color: $promo-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      min-height: 301px;
      background:
        url("../img/text-sedona.svg") no-repeat 367px 100px,
        url("../img/bg-back-desktop@2x.jpg") no-repeat 0 -217px;
      background-size:
        461px 80px,
        1200px 518px;
      background-color: $promo-color;
    }
  }
}

.promo::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  top: 102px;
  left: calc(50% - 350px);
  border-left: 350px solid $white;
  border-top: 55px solid transparent;
  border-right: 350px solid $white;

  @media (min-width: $tablet-width) {
    top: 236px;
  }

  @media (min-width: $desktop-width) {
    top: 246px;
  }
}

.promo::after {
  @media (min-width: $tablet-width) {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 236px;
    left: calc(50% - 600px);
    border-left: 600px solid $white;
    border-top: 55px solid transparent;
    border-right: 600px solid $white;
  }

  @media (min-width: $desktop-width) {
    top: 246px;
  }
}

.promo--index {
  min-height: 390px;
  background:
    url("../img/text-sedona-index.svg") no-repeat center 88px,
    url("../img/bg-back-mobile@1x.jpg") no-repeat center 0;
  background-size:
    280px 214px,
    auto;
  background-color: $promo-color;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background:
      url("../img/text-sedona-index.svg") no-repeat center 88px,
      url("../img/bg-back-mobile@2x.jpg") no-repeat center 0;
    background-size:
      280px 214px,
      cover;
    background-color: $promo-color;
  }

  @media (min-width: $tablet-width) {
    min-height: 518px;
    background:
      url("../img/text-sedona-index.svg") no-repeat center 77px,
      url("../img/bg-back-desktop@1x.jpg") no-repeat center 0;
    background-size:
      460px 350px,
      auto;
    background-color: $promo-color;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background:
        url("../img/text-sedona-index.svg") no-repeat center 77px,
        url("../img/bg-back-desktop@2x.jpg") no-repeat center 0;
      background-size:
        460px 350px,
        cover;
      background-color: $promo-color;
    }
  }

  @media (min-width: $desktop-width) {
    background-position:
      370px 78px,
      0 0;
    background-color: $promo-color;
  }
}

.promo--index::before {
  top: 335px;

  @media (min-width: $tablet-width) {
    top: 463px;
  }
}

.promo--index::after {
  @media (min-width: $tablet-width) {
    top: 463px;
  }
}
