.radio {
  // Стили появятся позже
}

.radio__label {
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
  color: $black;
}

.radio__input {
  // Стили появятся позже
}
