.radio {
  box-sizing: border-box;
  margin: 0;
  padding-top: 15px;
  padding-bottom: 28px;
  padding-left: 78px;

  @media (min-width: $tablet-width) {
    padding-top: 24px;
    padding-bottom: 28px;
    padding-left: 76px;
  }
}

.radio:last-child {
  @media (min-width: $tablet-width) {
    padding-bottom: 18px;
  }
}

.radio__input {
  display: none;
}

.radio__input:disabled + .radio__label {
  cursor: default;
}

.radio__input:checked + .radio__label::after {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  top: 19px;
  left: -62px;
  background-color: $light-black;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 17px;
    left: -59px;
  }
}

.radio__input:checked + .radio__label:active::after {
  background-color: $light-gray-8;
}

.radio__label {
  padding-top: 15px;
  padding-bottom: 15px;
  position: relative;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
  color: $black;
  cursor: pointer;
}

.radio__label::before {
  content: "";
  position: absolute;
  width: 54px;
  height: 54px;
  top: 3px;
  left: -78px;
  background-color: $light-gray-2;
  border-radius: 50%;

  @media (min-width: $tablet-width) {
    top: 1px;
    left: -75px;
  }
}

.radio__label:hover::before,
.radio__label:focus::before {
  background-color: $light-gray-4;
}

.radio__label:active::before {
  background-color: $light-gray-7;
}
