.social {
  display: flex;
  justify-content: center;
  padding-top: 35px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    @include no-indents;
  }
}

.social__list {
  @include no-indents;
  display: flex;
  flex-direction: row;
}

.social__item {
  @include no-indents;
  list-style: none;
  margin-right: 6px;
}

.social__btn {
  width: 46px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $light-blue;

  &:hover,
  &:focus {
    background-color: $blue;
  }

  &:active {
    background-color: $dark-blue;
  }

  &:active .social__svg {
    fill: rgba(255, 255, 255, 0.3);
  }
}
