.video {
  padding-top: 34px;
  padding-bottom: 37px;

  @media (min-width: $tablet-width) {
    padding-top: 68px;
    padding-left: 60px;
    padding-bottom: 40px;
    width: $tablet-width - 120px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 200px;
    padding-bottom: 84px;
    width: $desktop-width - 400px;
  }
}

.video__title {
  @include no-indents;
  font-size: 18px;
  font-weight: 700px;
  line-height: 26px;
  text-align: center;
  color: $black;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 26px; //Значение line-height из макета меньше размера шрифта!
  }
}

.video__description {
  @include no-indents;
  padding-top: 24px;
  padding-bottom: 37px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 400px;
  line-height: 24px;
  text-align: center;
  color: $light-black;

  @media (min-width: $tablet-width) {
    padding-top: 31px;
    padding-bottom: 73px;
    padding-left: 115px;
    padding-right: 115px;
  }

  @media (min-width: $desktop-width) {
    margin-left: 70px;
    margin-right: 70px;
  }
}

.video__player {
  // Здесь появятся стили в будущем
}

.video__image {
  vertical-align: bottom;
}

.video__control {
  position: relative;
  margin-left: 20px;
  margin-right: 20px;
  height: 67px;
  background-color: $light-gray-2;

  @media (min-width: $tablet-width) {
    margin-top: -93px;
    margin-left: 0;
    margin-right: 0;
    height: 93px;
    background-color: rgba(0, 0, 0, 0.6);
  }
}

.video__toggle-container {
  position: absolute;
  top: -45px;
  left: 0;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);

  @media (min-width: $tablet-width) {
    top: 0;
    left: 40px;
    width: 448px;
    background-color: transparent;
    height: inherit;
  }
}

.video__toggle-container::before {
  position: absolute;
  content: "";
  width: 234px;
  height: 3px;
  top: 21px;
  left: 23px;
  background-color: rgba(255, 255, 255, 0.2);

  @media (min-width: $tablet-width) {
    top: 45px;
    left: 52px;
    width: 390px;
  }
}

.video__toggle {
  @include no-indents;
  position: absolute;
  width: 9px;
  height: 9px;
  top: 18px;
  left: 57px;
  background-color: $white;
  border: none;
  border-radius: 50%;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    top: 42px;
    left: 166px;
  }
}

.video__wrapper {
  padding-top: 21px;
  padding-left: 25px;
  padding-right: 23px;
  display: flex;
  flex-direction: row;
  align-items: center;

  @media (min-width: $tablet-width) {
    padding-top: 36px;
    padding-left: 33px;
    padding-right: 40px;
  }
}

.video__btn {
  @include no-indents;
  border: none;
  background-color: transparent;
  cursor: pointer;

  svg {
    fill: $light-gray-5;
  }

  &:hover svg,
  &:focus svg {
    fill: $light-black;
  }

  &:active svg {
    fill: $light-black-2;
  }

  @media (min-width: $tablet-width) {
    svg {
      fill: $white;
    }

    &:hover svg,
    &:focus svg {
      fill: rgba(255, 255, 255, 0.6);
    }

    &:active svg {
      fill: rgba(255, 255, 255, 0.3);
    }
  }
}

.video__btn--play {
  //styles
}

.video__btn--cc {
  margin-right: 30px;
  margin-left: auto;
}

.video__btn--full-display {
  //styles
}
