body {
  @include no-indents;

  min-width: 320px;
  font-family: $fonts;
  text-transform: uppercase;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
}

input,
textarea,
select,
button {
  font-family: inherit;
}
